<h2>My Tasks</h2>
<h3>In Progress</h3>
<ul>
    <% @incomplete.each do |t| %>
        <li>Desc.: <%= t.name %></li>
        <li>Priority: <%= t.priority %></li>
        <li>Reminder: <%= format_date(t.reminder) %></li>
        <li>Minutes: <%= t.turnaround_time %></li>
        <li><%= link_to "View", t %></li><br>
    <% end %>
</ul>
<h3>Completed</h3>
<ul>
    <% @completed.each do |t| %>
        <li><%= link_to t.name, t %></li><br>
    <% end %>
</ul>