<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Task View</h1>
            <p class="lead">Project: <%= link_to @task.project.title, @task.project %></p>
        </div>
    </div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @task.name %></h5>
    <p class="card-text">Priority: <%= @task.priority %></p>
    <p class="card-text">Reminder: <%= format_date(@task.reminder) %></p>
    <p class="card-text"><small class="text-muted">Done: <%= @task.done %></small></p>
    <a class="badge badge-pill badge-secondary"<%= link_to "Edit", edit_task_path(@task), method: "get" %></a>
    <a class="badge badge-pill badge-primary"<%= link_to "Delete", @task, method: "delete" %></a>
  </div>
</div>