<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Projects</h1>
            <p class="lead">View your current & completed projects.</p>
            <span class="badge badge-pill badge-primary"> <%= link_to "Create Project", new_project_path, method: "get" %></span>
        </div>
    </div>
<div class="row row-cols-1 row-cols-md-2">
    <% if @incomplete_projects.any? %>
        <% @incomplete_projects.each do |p| %>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= p.title %></h5>
                        <p class="card-text"><%= p.objective %></p>
                        <small>Deadline: <%= format_date(p.deadline) %></small>
                        <%= link_to "View", p %>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
        <p>No Current Projects</p>
    <% end %>
</div>
<h6>Completed</h6>
<ul>
    <% if @complete_projects.any? %>
        <% @complete_projects.each do |p| %>
            <li><%= link_to p.title, p %></li>
        <% end %>
    <% else %>
        <p>No Completed Projects</p>
    <% end %>
</ul>