<h2>My Projects</h2>
<h3>In Progress</h3>
<ul>
    <% if @incomplete_projects.any? %>
        <% @incomplete_projects.each do |p| %>
            <li>Name: <%= p.title %></li>
            <li>Objective: <%= p.objective %></li>
            <li>Deadline: <%= format_date(p.deadline) %></li>
            <li><%= link_to "View", p %></li><br>
        <% end %>
    <% else %>
        <p>No Projects in Progress</p>
    <% end %>
</ul>
<h3>Completed</h3>
<ul>
    <% if @complete_projects.any? %>
        <% @complete_projects.each do |p| %>
            <li><%= link_to p.title, p %></li>
        <% end %>
    <% else %>
        <p>No Completed Projects</p>
    <% end %>
</ul>

<%= button_to "Create Project", new_project_path, method: "get" %><br>