<h2>My Projects</h2>
<h3>In Progress</h3>
<ul>
    <% @incomplete_projects.each do |p| %>
        <li>Name: <%= p.title %></li>
        <li>Objective: <%= p.objective %></li>
        <li>Deadline: <%= p.deadline.strftime(" %b %e, %Y") %></li>
        <li><%= link_to "View", p %></li><br>
    <% end %>
</ul>
<h3>Completed</h3>
<ul>
    <% @complete_projects.each do |p| %>
        <li><%= link_to p.title, p %></li>
    <% end %>
</ul>

<%= button_to "Create Project", new_project_path, method: "get" %><br>