<h3> Create New Project</h3>
<%= form_with model: @project, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :objective %>
    <%= f.text_area :objective, size: "50 x 5" %><br>
    
    <%= f.label :priority  %>
    <%= f.number_field :priority, min: 1, max: 5 %><br>

    <%= f.label :due_date %>
    <%= f.date_field :due_date %><br>
    
    <br>
    <h3>Tasks for New Project</h3>
    <%= f.fields_for :tasks do |t| %>
        <%= t.label :name %>
        <%= t.text_field :name %><br>

        <%= t.label :priority %>
        <%= t.number_field :priority %><br>
        
        <%= t.label :turnaround_time, "Minutes to Complete" %>
        <%= t.number_field :turnaround_time, min: 1, max: 60 %><br>
    <% end %>

    <%= f.submit %>
<% end %>