<h2><%= @project.title %></h2>  
<ul>
    <li>Objective: <%= @project.objective %></li>
    <li>Due by: <%= format_date(@project.deadline) %></li>
    <li>Complete <%= @project.complete ? "Yes" : "No"  %></li>
    <li>AoF: <%= @project.user_projects.first.aof ? "Yes" : "No" %></li><br>
    <%= button_to "Edit Project", edit_project_path(@project), method: "get" %>
    <%= button_to "Delete Project", @project, method: "delete" %>
</ul>

<h3>Tasks in Progress</h3>
<% @project.tasks.not_done.each do |t| %>
    <li>Desc.: <%= t.name %></li>
    <li>Priority: <%= t.priority %></li>
    <li>Reminder: <%= format_date(t.reminder) %></li>
    <li><%= link_to "View", project_task_path(@project,t) %></li><br>
<% end %>
<%= button_to "All Project Tasks", project_tasks_path(@project), method: "get" %><br>
<%= button_to "Create New Task", new_project_task_path(@project), method: "get" %>