<h1>Welcome to Projekt!</h1>
<p>"Let our advance worrying become advance thinking and planning." - Winston Churchill.</p>
<% if current_user %>
    <%= button_to "Create Project", new_project_path, method: "get" %><br>
    <%= button_to "View My Projects", projects_path, method: "get" %><br>
    <%= button_to "View My Tasks", tasks_path, method: "get" %><br>
    <% if @warning.any? %>
        <h3>Deadline w/in the Week</h3>
        <% @warning.each do |p| %>
            <li><%= link_to p.title, p %></li>
        <% end %>
    <% end %>
    <% if @focus.any? %>
        <h3>Focus Projects</h3>
        <% @focus.each do |user_proj| %>
            <li><%= link_to user_proj.project.title, user_proj.project %></li>
        <% end %>
    <% end %>

    <h3><%= link_to "Context List", circumstances_path %></h3>
<% end %>
