<% if current_user %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Inbox</h1>
            <p class="lead">View your tasks by Today & Upcoming + Keep track of your Focus Projects.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action active"
                    data-toggle="list" href="#list-today" role="tab">
                    Today<span class="badge badge-primary badge-pill"><%= @today.length if @today.any? %></span>
                    </a>
                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                    data-toggle="list" href="#list-upcoming" role="tab">
                    Upcoming<span class="badge badge-primary badge-pill"><%= @upcoming.length if @upcoming.any? %></span>
                    </a>
                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                    data-toggle="list" href="#list-focus-projects" role="tab">
                    Focus Projects<span class="badge badge-light badge-pill"><%= @focus.length if @focus.any? %></span>
                    </a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-today" role="tabpanel">
                    <div class="list-group">
                        <% if @today.any? %>
                            <% @today.each do |t| %>
                                <a class="list-group-item list-group-item-action list-group-item-light"
                                    <%= link_to t.name, project_task_path(t.project,t) %></a>
                            <% end %>
                        <% else%>
                            <p><strong>No tasks today! :D</strong></p>
                        <% end %>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-upcoming" role="tabpanel">
                    <div class="list-group">
                        <% if @upcoming.any? %>
                            <% @upcoming.each do |t| %>
                                <a class="list-group-item list-group-item-action list-group-item-light"
                                    <%= link_to t.name, project_task_path(t.project,t) %></a>
                            <% end %>
                        <% else %>
                            <p><strong>No upcoming tasks this week.</strong></p>
                        <% end %>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-focus-projects" role="tabpanel">
                    <div class="list-group">
                        <% if @focus.any? %>
                            <% @focus.each do |user_proj| %>
                                <a class="list-group-item list-group-item-action list-group-item-light"
                                    <%= link_to user_proj.project.title, user_proj.project %></a>
                            <% end %>
                        <% else %>
                            <p><strong>Please mark a Project as an AoF (Area of Focus) to be on your home view.</strong></p>
                        <% end %>
                    </div>
                </div>      
            </div>
        </div>
    </div>
<% else %>
    <div class="centered">
        <h1>Done & Done</h1>
        <h4><%= link_to "sign in", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %></h4>
    </div>
<% end %>