<h1>Welcome to Projekt!</h1>
<p>"Let our advance worrying become advance thinking and planning." - Winston Churchill.</p>
<% if current_user %>
    -----------------------------------------------------------------
    <h4>-------------------Tasks------------------</h4>
    -----------------------------------------------------------------
    <h4>Today</h4>
    <% if @today.any? %>
        <% @today.each do |t| %>
            <li><%= link_to t.name, project_task_path(t.project,t) %></li>
        <% end %>
    <% else%>
        <p>None Today! :)</p>
    <% end %>

    <h4>View By</h4>
    <li><%= link_to "Context", circumstances_path %></li>
    <li><%= link_to "Priority", tasks_path %></li>

    -----------------------------------------------------------------
    <h4>-----------------Projects------------------</h4>
    -----------------------------------------------------------------
    <h5>Area of Focus</h5>
    <% if @focus.any? %>
        <% @focus.each do |user_proj| %>
            <li><%= link_to user_proj.project.title, user_proj.project %></li>
        <% end %>
    <% else %>
        <p>Please mark a Project as an aof (Area of Focus) to be on your home view.</p>
    <% end %>
    <h5>Deadline Approaching</h5>
    <% if @warning.any? %>
        <% @warning.each do |p| %>
            <li><%= link_to p.title, p %></li>
        <% end %>
    <% else %>
        <p>No Project Deadlines Approaching</p>
    <% end %>
    <h5>View All</h5>
    <li><%= link_to "View My Projects", projects_path %></li>
    <br>
    <%= button_to "Create Project", new_project_path, method: "get" %>
<% end %>
